<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Crewmate - 순위</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  </head>
  <body class="bg-dark">
    <div class="container"><br>
      <div class="row bg-white">
        <strong class="p-5 text-center">
          <div class="alert alert-primary" role="alert">
            <strong>
              내 순위 : <%= users.findIndex((user2) => user2.username === user.username) + 1 %>위</strong>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">순위</th>
                <th scope="col">이름</th>
                <th scope="col">포인트</th>
                <th scope="col">계정 생성일</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((item, index) => { %>
                <% if(String(item.username) === String(user.username)  ) { %>
                  <tr class="bg-info">
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= item.username %></td>
                    <td><%= item.point %></td>
                    <% const date = new Date(item.createdAt) %>
                    <td><%= date.getFullYear() + '년 ' + (date.getMonth() + 1) + '월 ' + date.getDate() + '일' %></td>
                  </tr>
                <% } else { %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= item.username %></td>
                    <td><%= item.point %></td>
                    <% const date = new Date(item.createdAt) %>
                    <td><%= date.getFullYear() + '년 ' + (date.getMonth() + 1) + '월 ' + date.getDate() + '일' %></td>
                  </tr>
                <% } %>
              <% }) %>
            </tbody>
          </table>
        </strong>
      </div><br/>
      <div class="row mb-4">
        <div class="col-md">
          <a class="btn btn-danger btn-lg btn-block" href="/" role="button"><i class="fa fa-home" aria-hidden="true"></i> 홈</a>
        </div>
        <div class="col-md">
          <a class="btn btn-danger btn-lg btn-block" href="/list" role="button"><i class="fa fa-chart-pie" aria-hidden="true"></i> 순위</a>
        </div>
        <div class="col-md">
          <a class="btn btn-danger btn-lg btn-block" href="/todo" role="button"><i class="fa fa-calculator"-calc aria-hidden="true"></i> 목표 관리, 조회</a>
        </div>
        <div class="col-md">
          <a class="btn btn-danger btn-lg btn-block" href="/crew" role="button"><i class="fa fa-users"-calc aria-hidden="true"></i> 크루</a>
        </div>
      </div>
    </div>
  </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>
</html>
